---
name: Download and parse FIA files for a Grand Prix
run-name: Download and parse data for ${{ inputs.grand_prix }} of season ${{ inputs.season }}

on:
  workflow_call:
    inputs:
      season:
        description: The year of the season to analyze
        required: true
        type: string
      grand_prix:
        description: The grand prix name to analyze (name given by the FIA)
        required: true
        type: string
      is_sprint:
        required: false
        type: boolean
        default: false
    outputs:
      artifact-id:
        description: "The artifact id of the workflow output"
        value: ${{ jobs.run-script.steps.upload-artifacts.outputs.artifact-id }}
      run-id:
        description: The run id of this workflow.
        value: ${{ github.run_id }}

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Check inputs
        shell: bash
        run: |
          echo "Season: ${{ inputs.season }}"
          echo "Grand prix: ${{ inputs.grand_prix }}"
          echo "Is sprint: ${{ inputs.is_sprint }}"
          
      - name: Check season input is a number
        shell: bash
        run: |
          if ! [[ ${{ inputs.season }} =~ ^[0-9]+$ ]]
            then
              exit 1
          fi
      
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          repository: race-tech/f1-data-downloader
          ref: main
          path: f1-data-downloader

      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Load cached venv
        id: cached-poetry-deps
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('poetry.lock') }}-${{ hashFiles('.github/workflows/download_and_parse.yml') }}-${{ steps.setup-python.outputs.python-version }}

      - name: Load cached .local
        id: cached-dotlocal
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: dotlocal-${{ runner.os }}-${{ hashFiles('.github/workflows/download_and_parse.yml') }}-${{ steps.setup-python.outputs.python-version }}

      - name: Install poetry
        if: steps.cached-dotlocal.outputs.cache-hit != 'true'
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          ~/.local/bin/poetry config virtualenvs.in-project true

      - name: Set up PATH
        run: |
          echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV

      - name: Install dependencies
        if: steps.cached-poetry-deps.outputs.cache-hit != 'true'
        shell: bash
        working-directory: ./f1-data-downloader
        run: poetry install --no-interaction

      - name: Run script
        shell: bash
        working-directory: ./f1-data-downloader
        run: |
          source .venv/bin/activate
          python3 f1_data_downloader/main.py ${{ inputs.season }} "${{ inputs.grand_prix }}" ${{ inputs.is_sprint }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        id: upload-artifacts
        with:
          name: csv
          path: f1-data-downloader/csv
