---
on:
  workflow_dispatch:
    inputs:
      season:
        required: true
        type: number
      grand_prix:
        required: true
        type: string
      is_sprint:
        required: false
        type: boolean
        default: false

jobs:
  run-workflow:
    uses: .github/workflows/download_and_parse.yml
      
